$color-highlight: #d355b5;
$color-highlight-light: #e086cb;
$color-highlight-dark: #871a70;
$color-playing: #d355b5;
$color-playing-light: #e086cb;
$color-playing-dark: #871a70;
$color-structuring: #0192d0;
$color-structuring-light: #67c2d0;
$color-structuring-dark: #01648f;
$color-brainstorming-dark: #3f5d6f;
$color-brainstorming: #01cf9e;
$color-brainstorming-light: #9fdcc5;
$color-informing: #f3a40a;
$color-informing-light: #f3cf71;
$color-informing-dark: #be8008;
$color-evaluating-dark: #992a2a;
$color-evaluating: #fe6e5d;
$color-evaluating-light: #ff8273;
$color-darkblue: #1d2948;
$color-darkblue-light: #737d97;
$color-darkblue-dark: #152026;
$color-dark-contrast: #1d2948;
$color-dark-contrast-light: #737d97;
$color-dark-contrast-dark: #152026;
$color-background: #f4f4f4;
$color-background-dark: #e3e3e3;
$color-background-darker: #999999;
$color-background-blue: #f0f6f6;
$color-gray: #e4e4e4;
$color-gray-dark: #666666;
$color-gray-inactive: #999999;
$color-gray-inactive-light: #cccccc;
$color-green: #01cf9e;
$color-yellow: #f3a40a;
$color-red: #fe6e5d;
$color-brown: #543b31;
$color-brown-light: #73635c;
$color-brown-xlight: #9a908b;
$color-brown-dark: #3d2e28;
$font-family: 'Work Sans';
$font-weight-default: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$border-radius: 1.5rem;
$border-radius-small: 1rem;
$border-radius-xs: 0.5rem;
$font-size-default: 1rem;
$font-size-xxsmall: calc(10rem / 16);
$font-size-xsmall: calc(12rem / 16);
$font-size-small: calc(14rem / 16);
$font-size-large: calc(18rem / 16);
$font-size-xlarge: calc(24rem / 16);
$font-size-xxlarge: calc(32rem / 16);
$font-size-xxxlarge: calc(36rem / 16);
$font-size-xxxxlarge: calc(72rem / 16);
$sidebar-width: calc(var(--app-width) / 4);
$sidebar-min-width: 300px;
$header-height: 90px;
$participant-background-image: url('~@/assets/illustrations/background.png');
$home-image: url('~@/assets/illustrations/telescope_round.png');
$login-image: url('~@/assets/illustrations/telescope.png');
$home-background: none;
