[theme='ecopolis'] {
  $color-highlight: #d355b5;
  $color-highlight-light: #e086cb;
  $color-highlight-dark: #945d89;
  $color-structuring: #e7a320;
  $color-structuring-light: #e2d08c;
  $color-structuring-dark: #000000;
  $color-brainstorming: #7bc168;
  $color-brainstorming-light: #add3a4;
  $color-brainstorming-dark: #507148;
  $color-informing: #63c3cb;
  $color-informing-light: #a0d4d9;
  $color-informing-dark: #467276;
  $color-evaluating: #c55e44;
  $color-evaluating-light: #d88e81;
  $color-evaluating-dark: #9b5144;
  $color-darkblue: #1a313c;
  $color-darkblue-light: #74909d;
  $color-darkblue-dark: #152026;
  $color-dark-contrast: #263527;
  $color-dark-contrast-light: #757d76;
  $color-dark-contrast-dark: #19201a;
  $color-background: #ede7e3;
  $color-background-blue: #cfe2e5;
  $color-gray: #b9b0aa;
  $color-gray-dark: #72625c;
  $color-gray-inactive: #999999;
  $font-family: 'Work Sans';
  $font-weight-default: 400;
  $font-weight-semibold: 600;
  $font-weight-bold: 700;
  $border-radius: 1.5rem;
  $border-radius-small: 1rem;
  $border-radius-xs: 0.5rem;
  $font-size-default: 1rem;
  $font-size-small: calc(14rem / 16);
  $font-size-large: calc(18rem / 16);
  $font-size-xlarge: calc(24rem / 16);
  $font-size-xxlarge: calc(32rem / 16);
  $font-size-xxxlarge: calc(36rem / 16);
  $font-size-xxxxlarge: calc(72rem / 16);
  $sidebar-width: calc(var(--app-width) / 4);
  $sidebar-min-width: 300px;
  $header-height: 90px;
  $participant-background-image: url('~@/assets/illustrations/Ecopolis/backgroundEcopolis.png');
  $home-image: url('~@/assets/illustrations/Ecopolis/Ecopolis_Color.png');
  $home-background: url('~@/assets/illustrations/Ecopolis/EcopolisHomeBG.png');

  --color-highlight: #{$color-highlight};
  --color-highlight-dark: #{$color-highlight-dark};
  --color-highlight-light: #{$color-highlight-light};
  --color-structuring: #{$color-structuring};
  --color-structuring-light: #{$color-structuring-light};
  --color-structuring-dark: #{$color-structuring-dark};
  --color-brainstorming: #{$color-brainstorming};
  --color-brainstorming-light: #{$color-brainstorming-light};
  --color-brainstorming-dark: #{$color-brainstorming-dark};
  --color-informing: #{$color-informing};
  --color-informing-light: #{$color-informing-light};
  --color-informing-dark: #{$color-informing-dark};
  --color-evaluating: #{$color-evaluating};
  --color-evaluating-light: #{$color-evaluating-light};
  --color-evaluating-dark: #{$color-evaluating-dark};
  --color-darkblue: #{$color-darkblue};
  --color-darkblue-light: #{$color-darkblue-light};
  --color-darkblue-dark: #{$color-darkblue-dark};
  --color-dark-contrast: #{$color-dark-contrast};
  --color-dark-contrast-light: #{$color-dark-contrast-light};
  --color-dark-contrast-dark: #{$color-dark-contrast-dark};
  --color-background: #{$color-background};
  --color-background-blue: #{$color-background-blue};
  --color-gray: #{$color-gray};
  --color-gray-dark: #{$color-gray-dark};
  --color-gray-inactive: #{$color-gray-inactive};
  --color-transparent: #ffffff77;
  --color-transparent-dark: #0f162677;
  --color-transparent-light: #ffffff33;
  --font-family: #{$font-family};
  --font-weight-default: #{$font-weight-default};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-bold: #{$font-weight-bold};
  --border-radius: #{$border-radius};
  --border-radius-small: #{$border-radius-small};
  --border-radius-xs: #{$border-radius-xs};
  --font-size-default: #{$font-size-default};
  --font-size-small: #{$font-size-small};
  --font-size-large: #{$font-size-large};
  --font-size-xlarge: #{$font-size-xlarge};
  --font-size-xxlarge: #{$font-size-xxlarge};
  --font-size-xxxlarge: #{$font-size-xxxlarge};
  --font-size-xxxxlarge: #{$font-size-xxxxlarge};
  --sidebar-width: #{$sidebar-width};
  --sidebar-min-width: #{$sidebar-min-width};
  --header-height: #{$header-height};
  --corner-radius: 1.5rem;
  --participant-background-image: #{$participant-background-image};
  --home-image: #{$home-image};
  --home-background: #{$home-background};
}
