[theme='ecopolis'] {
  $color-highlight: #d355b5 !global;
  $color-highlight-light: #e086cb !global;
  $color-highlight-dark: #945d89 !global;
  $color-playing: #d355b5 !global;
  $color-playing-light: #e086cb !global;
  $color-playing-dark: #871a70 !global;
  $color-structuring: #e7a320 !global;
  $color-structuring-light: #e2d08c !global;
  $color-structuring-dark: #000000 !global;
  $color-brainstorming: #7bc168 !global;
  $color-brainstorming-light: #add3a4 !global;
  $color-brainstorming-dark: #507148 !global;
  $color-informing: #63c3cb !global;
  $color-informing-light: #a0d4d9 !global;
  $color-informing-dark: #467276 !global;
  $color-evaluating: #c55e44 !global;
  $color-evaluating-light: #d88e81 !global;
  $color-evaluating-dark: #9b5144 !global;
  $color-darkblue: #1a313c !global;
  $color-darkblue-light: #74909d !global;
  $color-darkblue-dark: #152026 !global;
  $color-dark-contrast: #263527 !global;
  $color-dark-contrast-light: #757d76 !global;
  $color-dark-contrast-dark: #19201a !global;
  $color-background: #ede7e3 !global;
  $color-background-blue: #cfe2e5 !global;
  $color-gray: #b9b0aa !global;
  $color-gray-dark: #72625c !global;
  $color-gray-inactive: #999999 !global;
  $color-gray-inactive-light: #cccccc !global;
  $color-green: #7bc168 !global;
  $color-yellow: #e7a320 !global;
  $color-red: #c55e44 !global;
  $font-family: 'Work Sans' !global;
  $font-weight-default: 400 !global;
  $font-weight-semibold: 600 !global;
  $font-weight-bold: 700 !global;
  $border-radius: 1.5rem !global;
  $border-radius-small: 1rem !global;
  $border-radius-xs: 0.5rem !global;
  $font-size-default: 1rem !global;
  $font-size-small: calc(14rem / 16) !global;
  $font-size-large: calc(18rem / 16) !global;
  $font-size-xlarge: calc(24rem / 16) !global;
  $font-size-xxlarge: calc(32rem / 16) !global;
  $font-size-xxxlarge: calc(36rem / 16) !global;
  $font-size-xxxxlarge: calc(72rem / 16) !global;
  $sidebar-width: calc(var(--app-width) / 4) !global;
  $sidebar-min-width: 300px !global;
  $header-height: 90px !global;
  $participant-background-image: url('~@/assets/illustrations/Ecopolis/backgroundEcopolis.png') !global;
  $home-image: url('~@/assets/illustrations/Ecopolis/Ecopolis_Color.png') !global;
  $home-background: url('~@/assets/illustrations/Ecopolis/EcopolisHomeBG.png') !global;
  $login-image: url('~@/assets/illustrations/Ecopolis/EcopolisLogin.png') !global;
}
