//@import 'default.scss';
//@import 'ecopolis.scss';

:root {
  //--theme: #{$theme};
  --color-highlight: #{$color-highlight};
  --color-highlight-light: #{$color-highlight-light};
  --color-highlight-dark: #{$color-highlight-dark};
  --color-playing: #{$color-playing};
  --color-playing-light: #{$color-playing-light};
  --color-playing-dark: #{$color-playing-dark};
  --color-structuring: #{$color-structuring};
  --color-structuring-light: #{$color-structuring-light};
  --color-structuring-dark: #{$color-structuring-dark};
  --color-brainstorming: #{$color-brainstorming};
  --color-brainstorming-light: #{$color-brainstorming-light};
  --color-brainstorming-dark: #{$color-brainstorming-dark};
  --color-informing: #{$color-informing};
  --color-informing-light: #{$color-informing-light};
  --color-informing-dark: #{$color-informing-dark};
  --color-evaluating: #{$color-evaluating};
  --color-evaluating-light: #{$color-evaluating-light};
  --color-evaluating-dark: #{$color-evaluating-dark};
  --color-darkblue: #{$color-darkblue};
  --color-darkblue-light: #{$color-darkblue-light};
  --color-darkblue-dark: #{$color-darkblue-dark};
  --color-dark-contrast: #{$color-dark-contrast};
  --color-dark-contrast-light: #{$color-dark-contrast-light};
  --color-dark-contrast-dark: #{$color-dark-contrast-dark};
  --color-background: #{$color-background};
  --color-background-darker: #{$color-background-darker};
  --color-background-dark: #{$color-background-dark};
  --color-background-blue: #{$color-background-blue};
  --color-gray: #{$color-gray};
  --color-gray-dark: #{$color-gray-dark};
  --color-gray-inactive: #{$color-gray-inactive};
  --color-gray-inactive-light: #{$color-gray-inactive-light};
  --color-transparent: #ffffff77;
  --color-transparent-dark: #0f162677;
  --color-transparent-light: #ffffff33;
  --color-green: #{$color-green};
  --color-yellow: #{$color-yellow};
  --color-red: #{$color-red};
  --color-brown: #{$color-brown};
  --color-brown-xlight: #{$color-brown-xlight};
  --color-brown-light: #{$color-brown-light};
  --color-brown-dark: #{$color-brown-dark};
  --font-family: #{$font-family};
  --font-weight-default: #{$font-weight-default};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-bold: #{$font-weight-bold};
  --border-radius: #{$border-radius};
  --border-radius-small: #{$border-radius-small};
  --border-radius-xs: #{$border-radius-xs};
  --font-size-default: #{$font-size-default};
  --font-size-xxsmall: #{$font-size-xxsmall};
  --font-size-xsmall: #{$font-size-xsmall};
  --font-size-small: #{$font-size-small};
  --font-size-large: #{$font-size-large};
  --font-size-xlarge: #{$font-size-xlarge};
  --font-size-xxlarge: #{$font-size-xxlarge};
  --font-size-xxxlarge: #{$font-size-xxxlarge};
  --font-size-xxxxlarge: #{$font-size-xxxxlarge};
  --sidebar-width: #{$sidebar-width};
  --sidebar-min-width: #{$sidebar-min-width};
  --header-height: #{$header-height};
  --corner-radius: 1.5rem;
  --participant-background-image: #{$participant-background-image};
  --home-image: #{$home-image};
  --login-image: #{$login-image};
  --home-background: #{$home-background};
  --map-settings-height: 20rem;
}