@import 'variables.scss';

$dialog-padding: 30px;

/* theme color */
$--color-primary: #1d2948!default;

$--colors: (
        "primary": (
                "base": #1d2948,
        ),
        "success": (
                "base": #01cf9e,
        ),
        "warning": (
                "base": #f1be3a,
        ),
        "danger": (
                "base": #d355b5,
        ),
        "error": (
                "base": #fe6e5d,
        ),
        "info": (
                "base": #1d2948,
        ),
);
/* icon font path, required */
$--font-path: '~element-plus/lib/theme-chalk/fonts';


@import "~element-plus/packages/theme-chalk/src/index";

:root {
        --color-primary: #{$color-darkblue};
        --color-warning: #{$color-yellow};

        --el-color-warning: var(--color-warning);
        --el-color-primary: var(--color-primary);

        --el-text-color-primary: var(--color-primary);
        --el-text-color-regular: var(--color-primary);

        --el-border-color-base:  var(--color-gray);

        --el-tag-font-size: var(--font-size-default);
        --el-font-size-base: var(--font-size-default);
        --el-font-size-large: var(--font-size-large);

        --el-border-radius-small: var(--border-radius-small);
        --el-border-radius-base: var(--border-radius-small);
}

.el-tag {
        --el-tag-font-size: var(--font-size-default);
        --el-tag-border-radius: var(--border-radius-small);
}

.el-dialog {
        --el-dialog-padding-primary: #{$dialog-padding};

        &__title {
                font-weight: var(--font-weight-semibold);
                text-transform: uppercase;
                letter-spacing: 1px;
        }

        &__body {
                padding: 10px var(--el-dialog-padding-primary);
                max-height: 50vh;
                overflow: auto;
        }
}

.el-input {
        --el-input-background-color: #{$color-background-gray};
        --el-input-icon-color: var(--color-primary);

        &__icon {
                font-weight: var(--font-weight-semibold);
                width: 40px;
        }
}

.el-select {
        --el-select-input-color: var(--color-primary);
        --el-select-input-font-size: var(--font-size-default);
}

.el-message-box {
        --el-messagebox-border-radius: var(--border-radius-small);
        --el-messagebox-padding-primary: #{$dialog-padding};

        padding-bottom: unset;

        &__title {
                font-weight: var(--font-weight-semibold);
                text-transform: uppercase;
                letter-spacing: 1px;
        }

        &__btns {
                padding: var(--el-messagebox-padding-primary);
                padding-top: 10px;
        }
}

.el-card {
        --el-card-border-radius: var(--border-radius-xs);
        -webkit-column-break-inside: avoid;
        margin-bottom: 0.5rem;

        &__body {
                height: 100%;
        }
}

.el-popper {
        font-size: var(--font-size-small);
        line-height: 1.8;
}

.el-tag {
        margin-right: 10px;
        margin-bottom: 10px;
}

.el-drawer {
        overflow: auto;
}

.el-drawer.rtl, .el-drawer.ltr {
        max-height: 100vh;
}

.el-input--prefix .el-input__inner {
        padding-left: 45px;
}

.el-date-table td span {
        text-align: center;
}

.el-switch {
        &__label, &__label.is-active {
                color: unset;
        }
}

.el-switch.is-big {
        display: flex;
        justify-content: space-between;
        --el-switch-core-border-radius: calc(34rem / 16);
        --el-switch-width: calc(56rem / 16);
        --el-switch-height: calc(30rem / 16);
        --el-switch-button-size: calc(22rem / 16);

        + .el-switch.is-big {
                margin-top: 0.5rem;
        }
}

.el-switch.is-big .el-switch{
        &__action {
                margin: calc(((var(--el-switch-height) - var(--el-switch-button-size)) / 2) - 2px);
        }

        &__core {
                margin-top: calc(((var(--el-switch-height) - var(--el-switch-button-size)) / 2) - 2px);
        }
}

.el-switch.is-big.is-checked .el-switch__core .el-switch__action {
        margin-left: calc(0px - var(--el-switch-button-size) - ((var(--el-switch-height) - var(--el-switch-button-size)) / 2) + 2px);
}
.el-collapse {
        --el-collapse-header-background-color: unset;
        --el-collapse-content-background-color: unset;
        --el-collapse-header-font-size: large;
        margin-bottom: 2rem;
}

.el-collapse-item {
        &__header {
                font-weight: var(--font-weight-semibold);
                padding-left: 1rem;
        }

        &__wrap {
                overflow: unset;
        }
}

.public-screen .el-collapse-item {
        &__header {
                background-color: var(--color-transparent);
        }

        &__content {
                padding: 1rem 0;
        }
}

.participant.el-collapse {
        border: unset;
}

.participant .el-collapse-item {
        &__header {
                padding: 1rem 2rem;
                background-color: unset;
                color: white;
        }

        &__content {
                display: flex;
                overflow-x: scroll;
                overflow-y: visible;
                padding: 1rem 2rem;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */

                &::-webkit-scrollbar {
                        display: none;
                }
        }

        &__wrap {
                border: unset;
        }
}

.participant_with_background .el-collapse-item {
        &__header {
                padding: 1rem 2rem;
        }

        &__content {
                background-color: var(--color-transparent-light);
                display: flex;
                overflow-x: scroll;
                overflow-y: visible;
                padding: 1rem 2rem;
                -ms-overflow-style: none; /* IE and Edge */
                scrollbar-width: none; /* Firefox */

                &::-webkit-scrollbar {
                        display: none;
                }
        }
}