$color-primary: #1d2948;
$primary: #1d2948;
$--color-primary: red;

:root {
  --color-primary: #1d2948;
  --color-warning: #fe6e5d;

  --el-color-warning: var(--color-primary);
  --el-color-primary: var(--color-primary);

  --el-text-color-primary: var(--color-gray-inactive);
  --el-color-primary: #fff;
}

.el-button{
  &--primary {
    background-color: var(--color-primary);
    border-color: var(--color-primary);
  }
}

.el-select-dropdown.is-multiple .el-select-dropdown__item.selected{
  color: var(--color-primary);
  background-color: #fff;
}

.el-select .el-input.is-focus .el-input__inner {
  border-color: var(--color-primary);
}

.el-input__inner {
  background-color: var(--color-background-gray);
}

.el-button{
  &--primary:hover{
    background-color: var(--color-mint);
  }
}
