@import '~@/assets/styles/fonts.scss';
@import '~@/assets/styles/variables.scss';
@import '~@/assets/styles/breakpoints.scss';
@import '~@/assets/styles/bulma.scss';
@import '~@/assets/styles/third-party-components.scss';
@import '~@/assets/styles/layout.scss';

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--color-darkblue);

  &:visited,
  &:focus,
  &:hover,
  &:active {
    color: var(--color-darkblue);
  }
}

body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size-default);
  font-family: var(--font-family);
  font-weight: var(--font-weight-default);
  line-height: 1.3;
  color: var(--color-darkblue);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.heading {
  color: var(--color-darkblue);
  font-weight: var(--font-weight-semibold);
  margin: 0 0 0.5rem;

  &--big {
    font-size: calc(40rem / 16);
    line-height: 1.2;

    @media screen and (max-width: 768px) {
      font-size: calc(28rem / 16);
    }
  }

  &--medium {
    font-size: calc(24rem / 16);
  }

  &--regular {
    font-size: calc(20rem / 16);
  }

  &--small {
    font-size: var(--font-size-large);
    margin: 0.5rem 0;
  }

  &--xs {
    font-size: var(--font-size-default);
    font-weight: var(--font-weight-semibold);
    margin: 0.5rem 0 0.3rem;
  }

  &--white {
    color: white;
  }
}

.btn {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  color: white;
  background-color: var(--color-darkblue);
  border: none;
  border-radius: 100px;
  white-space: nowrap;
  cursor: pointer;
  padding: 0.7rem 1rem;
  width: 200px;
  margin: 0.25rem auto;
  transition: background-color 0.2s, opacity 0.2s;

  &:hover {
    opacity: 0.9;
  }

  &--gradient {
    background-color: var(--color-mint);
    background: linear-gradient(
      90deg,
      var(--color-mint) 2%,
      var(--color-mint-dark) 50%,
      var(--color-mint) 98%
    );
    background-size: 200% 100%;
    background-position: 100%;
    transition: background-position 0.2s;

    &:hover {
      background-position: 0;
      opacity: 1;
    }
  }

  &--outline {
    background-color: transparent;
    box-sizing: border-box;
    transition: background-color 0.2s, color 0.2s;
    padding: calc(9.2rem / 16) 1rem;

    &--mint {
      color: var(--color-mint-dark);
      border: 2px solid var(--color-mint-dark);

      &:hover {
        background-color: var(--color-mint-dark);
        color: white;
      }
    }

    &--white {
      color: white;
      border: 2px solid white;

      &:hover {
        background-color: white;
        color: var(--color-darkblue);
      }
    }

    &--gray {
      color: var(--color-darkblue);
      border: 2px solid var(--color-background-gray);

      &:hover {
        background-color: var(--color-background-gray);
      }
    }

    &--dark-blue {
      color: var(--color-darkblue);
      border: 2px dashed var(--color-darkblue);

      &:hover {
        background-color: var(--color-darkblue-light);
      }
    }

    &:hover {
      opacity: 1;
    }
  }

  &--mint {
    background-color: var(--color-mint);
  }

  &--blue {
    background-color: var(--color-blue);
  }

  &--yellow {
    background-color: var(--color-yellow);
  }

  &--red {
    background-color: var(--color-red);
  }

  &--purple {
    background-color: var(--color-purple);
  }

  &--white {
    background-color: white;
    color: var(--color-darkblue);
  }

  &--icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    padding: 0;
    height: calc(40.57rem / 16);
  }

  &--icon-only {
    &:hover {
      cursor: pointer;
    }
  }

  &--wide {
    width: 300px;
  }

  &--fullwidth {
    width: 100%;
  }
}

.label {
  display: block;
  font-weight: var(--font-weight-semibold);
  margin-top: 1rem;
}

.input,
.select,
.textarea {
  font-family: var(--font-family);
  font-size: var(--font-size-default);
  color: var(--color-darkblue);
  background-color: var(--color-background-gray);
  padding: 0.7rem 1.2rem;
  border-radius: 100px;
  border: none;
  margin: 0.5rem auto;
  width: 300px;

  &::placeholder {
    color: var(--color-darkblue-light);
  }

  &:focus {
    outline: none;
    border: 1px solid var(--color-mint-light);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 200ms;
  }

  &--fullwidth {
    width: 100%;
  }

  &--centered {
    text-align: center;
  }
}

.select select, .textarea, .input, .button {
  -webkit-appearance: auto;
}

.select {
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('~@/assets/icons/svg/arrow.svg');
  background-size: 0.8em;
  background-repeat: no-repeat;
  background-position: right 1em top 50%;
  text-transform: capitalize;
  position: unset;

  option {
    text-transform: capitalize;
    font-family: var(--font-family), Arial, sans-serif;
  }
}

.textarea {
  border-radius: var(--border-radius-small);
}

p {
  margin-top: 0;
}

.icon {
  &--s {
    width: 15px;
  }

  &--m {
    width: 20px;
  }

  &--l {
    width: 25px;
  }
}

.link {
  cursor: pointer;
}

.info {
  color: var(--color-primary);
  font-size: 12px;
  padding-top: 4px;
  width: 100%;
  text-align: right;
  display: block;
}

.error {
  color: var(--color-purple);
}

.pre-formatted {
  white-space: pre-wrap;
}

form {
  display: flex;
  flex-direction: column;

  .input,
  .select,
  .textarea {
    margin: 0 0 0.2rem;
  }
}

.disabled {
  color: var(--color-gray-inactive);
}

.disable-text-selection {
  -ms-user-select:none;
  -moz-user-select:none;
  -webkit-user-select:none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  user-select:none;
}

.filter_options {
  margin: -45px 0;
}