$icon-width-s: 15px;
$icon-width-m: 20px;
$icon-width-l: 25px;

@mixin icon($url, $color:var(--color-darkblue)) {
  cursor: pointer;
  mask-image: url($url);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: $color;
}

@mixin icon-s($url, $color: var(--color-darkblue)) {
  @include icon($url, $color);
  width: $icon-width-s;
  height: $icon-width-s;
}

@mixin icon-m($url, $color: var(--color-darkblue)) {
  @include icon($url, $color);
  width: $icon-width-m;
  height: $icon-width-m;
}

@mixin icon-l($url, $color: var(--color-darkblue)) {
  @include icon($url, $color);
  width: $icon-width-l;
  height: $icon-width-l;
}
