.layout {
  &__4columns {
    width: 100%;
    column-width: 10rem;
    column-gap: 1rem;
  }

  &__level {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    > * {
      vertical-align: middle;
      margin-right: 1rem;
    }
  }
}

.sidebar {
  min-width: var(--sidebar-min-width);
  width: var(--sidebar-width);

  &.el-aside {
    width: var(--sidebar-width);
  }
}


@media only screen and (min-width: 650px) {
  .sidebar {
    &__trigger {
      display: none;
    }
  }
}

@media only screen and (max-width: 649px) {
  .el-aside.sidebar {
    display: none;
    width: 0;
    min-width: 0;
  }
}

.content_filter {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--color-darkblue);
  width: 100%;
  display: table;

  > * {
    display: table-cell;
  }

  label {
    width: 20%;
  }

  .heading {
    color: white;
  }
}


.card {
  &__content {
    margin-top: 0.5rem;
    display: flex;
    justify-content: space-between;
    word-break: break-word;
    align-items: flex-end;
    text-align: justify;
  }

  &__image {
    width: 100%;
    display: block;
  }

  &__menu {
    color: var(--color-darkblue-light);
    cursor: pointer;
  }

  &__title {
    font-weight: var(--font-weight-semibold);
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }
}

.stack {
  max-width: 10rem;
  &__container {
    position: relative;
    overflow: hidden;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    //display: inline;
    vertical-align: center;

    &__image {
      border-radius: var(--border-radius-xs);
      border: 1px solid #c0ccda;
      width: 100%;
      padding-top: 100%; /* 1:1 Aspect Ratio */
    }
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-align: center;
    line-height: 1.8;
  }

  &__action {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    cursor: default;
    color: #fff;
    opacity: 0;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity var(--el-transition-duration);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    &:hover {
      opacity: 1;
    }
  }
}