$color-purple-dark: #871a70;
$color-purple: #d355b5;
$color-purple-light: #e086cb;
$color-blue: #0192d0;
$color-blue-light: #67c2d0;
$color-mint-dark: #3f5d6f;
$color-mint: #01cf9e;
$color-mint-light: #9fdcc5;
$color-yellow: #f3a40a;
$color-yellow-light: #f3cf71;
$color-red: #fe6e5d;
$color-red-light: #ff8273;
$color-darkblue: #1d2948;
$color-darkblue-light: #737d97;
$color-background-gray: #f4f4f4;
$color-background-blue: #f0f6f6;
$color-gray: #e4e4e4;
$color-gray-dark: #666666;
$color-gray-inactive: #999999;
$font-family: 'Work Sans';
$font-weight-default: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$border-radius: 1.5rem;
$border-radius-small: 1rem;
$border-radius-xs: 0.5rem;
$font-size-default: 1rem;
$font-size-small: calc(14rem / 16);
$font-size-large: calc(18rem / 16);
$font-size-xlarge: calc(24rem / 16);
$font-size-xxlarge: calc(32rem / 16);
$font-size-xxxlarge: calc(36rem / 16);
$font-size-xxxxlarge: calc(72rem / 16);
$sidebar-width: calc(var(--app-width) / 4);
$sidebar-min-width: 300px;
$header-height: 90px;

:root {
  --color-purple-dark: #{$color-purple-dark};
  --color-purple: #{$color-purple};
  --color-purple-light: #{$color-purple-light};
  --color-blue: #{$color-blue};
  --color-blue-light: #{$color-blue-light};
  --color-mint-dark: #{$color-mint-dark};
  --color-mint: #{$color-mint};
  --color-mint-light: #{$color-mint-light};
  --color-yellow: #{$color-yellow};
  --color-yellow-light: #{$color-yellow-light};
  --color-red: #{$color-red};
  --color-red-light: #{$color-red-light};
  --color-darkblue: #{$color-darkblue};
  --color-darkblue-light: #{$color-darkblue-light};
  --color-background-gray: #{$color-background-gray};
  --color-background-blue: #{$color-background-blue};
  --color-gray: #{$color-gray};
  --color-gray-dark: #{$color-gray-dark};
  --color-gray-inactive: #{$color-gray-inactive};
  --color-transparent: #ffffff77;
  --color-transparent-dark: #0f162677;
  --color-transparent-light: #ffffff33;
  --font-family: #{$font-family};
  --font-weight-default: #{$font-weight-default};
  --font-weight-semibold: #{$font-weight-semibold};
  --font-weight-bold: #{$font-weight-bold};
  --border-radius: #{$border-radius};
  --border-radius-small: #{$border-radius-small};
  --border-radius-xs: #{$border-radius-xs};
  --font-size-default: #{$font-size-default};
  --font-size-small: #{$font-size-small};
  --font-size-large: #{$font-size-large};
  --font-size-xlarge: #{$font-size-xlarge};
  --font-size-xxlarge: #{$font-size-xxlarge};
  --font-size-xxxlarge: #{$font-size-xxxlarge};
  --font-size-xxxxlarge: #{$font-size-xxxxlarge};
  --sidebar-width: #{$sidebar-width};
  --sidebar-min-width: #{$sidebar-min-width};
  --header-height: #{$header-height};
  --corner-radius: 1.5rem;
}
