:root {
  --color-purple: #d355b5;
  --color-purple-light: #e086cb;
  --color-blue: hsl(198, 99%, 41%);
  --color-blue-light: #67c2d0;
  --color-mint-dark: #3f5d6f;
  --color-mint: #01cf9e;
  --color-mint-light: #9fdcc5;
  --color-yellow: #f1be3a;
  --color-yellow-light: #f3cf71;
  --color-red: #fe6e5d;
  --color-red-light: #ff8273;
  --color-darkblue: #1d2948;
  --color-darkblue-light: #737d97;
  --color-background-gray: #f4f4f4;
  --color-background-blue: #f0f6f6;
  --font-family: 'Work Sans';
  --font-weight-default: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --border-radius: 30px;
  --border-radius-small: 20px;
  --font-size-default: 1rem;
  --font-size-small: calc(14rem / 16);
  --font-size-large: calc(18rem / 16);
}
